@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
body {
	background-image: url(images/landing.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	body {
		background-image: url(images/mobile.jpg);
	}
}

.title {
	color: black;
	font-family: Roboto;
	font-weight: 900;
	font-size: 48px;
	line-height: 40px;
	margin: 40px 0px 20px;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.title {
		font-size: 40px;
	}
}

.container {
	position: absolute;
	top: 188px;
	left: 35%;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.container {
		position: absolute;
		top: 662px;
		left: 5%;
		width: 580px;
	}
}

.drop {
	background-color: black;
	color: white;
	width: 131px;
	height: 43px;
	position: absolute;
	left: 83%;
	font-size: 36px;
	font-weight: 400;
	font-family: Rozha One;
	line-height: 40px;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.drop {
		position: absolute;
		left: 113%;
	}
}

.zone {
	background-color: black;
	color: white;
	height: 43px;
	width: 125px;
	position: absolute;
	top: 55px;
	left: 86%;
	font-size: 36px;
	font-weight: 400;
	font-family: Rozha One;
	line-height: 40px;
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.zone {
		position: absolute;
		left: 120%;
	}
}

#timer {
	font-family: Rozha One;
	font-size: 48px;
	font-weight: 400;
	line-height: 40px;
	display: inline-block;
	text-align: center;
}

#timer > div {
	padding: 10px;
	border-radius: 3px;
	color: black;
	display: inline-block;
}

#timer div > span > span:first-child {
	margin: 0;
}

#timer div > span > span {
	background: black;
	color: white;
	display: inline-block;
	margin-left: 10px;
	padding: 8px 0;
	width: 45px;
	text-align: center;
	
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	#timer div > span > span {
		font-size: 24px;
		background-color: black;
		width: 31px;
		height: 40px;
	}
}

.subtitle {
	margin-top: 15px;
	font-family: Roboto;
	font-size: 24px;
	line-height: 28px;
	font-weight: 900;
	text-transform: uppercase;
}

.until-drop {
	color: black;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
}